@model IEnumerable<MVC_BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "All Tickets";
}

<h1>All Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="card">
    <div class="card-body">
        <div class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col">
                    <!-- All Tickets DATA-TABLE -->
                    <table id="dtAllTickets" class="table table-bordered table-hover dataTables_wrapper dtr-inline" role="grid" aria-describedby="example2-info">
                        <thead>
                            <tr>
                                @*<th>
                                    Ticket Type
                                </th>*@
                                <th>
                                    Project
                                </th>
                                <th>
                                    Date Created
                                </th>
                                <th>
                                    Title
                                </th>
                                @*<th>
                                    Description
                                </th>*@
                                
                                @*<th>
                                    Date Updated
                                </th>*@
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Archived)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ArchivedDate)
                                    </th>*@
                                
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Submitter
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>

                                    <td>
                                        <div class="font-weight-bold">@Html.DisplayFor(modelItem => item.Title)</div>
                                        <div>Created: @Html.DisplayFor(modelItem => item.Created)</div>

                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>*@
                                    
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Updated)
                                    </td>*@
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Archived)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ArchivedDate)
                                        </td>*@
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="TicketDetails" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- END TABLE-->

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dtAllTickets').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "order": [[1, "desc"]],
                "rowGroup": {dataSrc: 0},
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "visible": false,
                        "searchable": true
                    }
                ]
            });
        });

        //$(document).ready(function () {
        //    $('#dtAllTickets').DataTable();
        //});
    </script>

}
