@model MVC_BugTracker.Models.ViewModels.MyTicketsViewModel

@{
    ViewData["Title"] = "My Tickets";
}

<h1>My Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h1>My Developer Tickets</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th>
                Archived
            </th>
            <th>
                ArchivedDate
            </th>
            <th>
                Project
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Submitter
            </th>
            <th>
                Developer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Developer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="TicketDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<h1 class="mt-5">My Submitter Tickets</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th>
                Archived
            </th>
            <th>
                ArchivedDate
            </th>
            <th>
                Project
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Submitter
            </th>
            <th>
                Developer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Submitter)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
