@using MVC_BugTracker.Services.Interfaces

@model IEnumerable<MVC_BugTracker.Models.Project>

@inject IBTProjectService _projectService

@{
    ViewData["Title"] = "All Projects";

}

<h1>All Projects</h1>
<h6>Project data as of @DateTimeOffset.Now.ToString("dd MMM yyyy")</h6>

@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
{
    <p>
        <a class="btn-sm btn-primary" asp-action="Create"><i class="fas fa-plus"></i> New Project</a>
    </p>
}



<div class="card">
    <div class="card-body">
        <div class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col">


                    <table id="dtAllProjects" class="table table-bordered table-hover dataTables_wrapper dtr-inline" role="grid" aria-describedby="example2-info">
                        <thead>
                            <tr>
                                <th>
                                    Project Name
                                </th>
                               
                                <th>
                                    Due Date
                                </th>
                                <th>
                                    Progress (% Tickets Completed)
                                </th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                // Project manager
                                BTUser projectManager = await _projectService.GetProjectManagerAsync(item.Id);

                                var pm = "Unassigned";


                                if (projectManager.FirstName != null)
                                {
                                    pm = projectManager.FullName;
                                }

                                // ./ Project manager

                                // Project manager Color
                                var pmColor = pm == "Unassigned" ? "danger" : "secondary";

                                // ./ Project Manager Color


                                // Priority formatting colors
                                string priorityColor = "primary";

                                switch (item.ProjectPriority.Name)
                                {
                                    case "Urgent":
                                        priorityColor = "danger";
                                        break;

                                    case "High":
                                        priorityColor = "warning";
                                        break;

                                    case "Low":
                                        priorityColor = "secondary";
                                        break;

                                    default:
                                        priorityColor = "primary";
                                        break;
                                }
                                // ./ Formatting Colors

                                // Date Methods
                                int daysPassed = (DateTimeOffset.Now - item.StartDate).Days;
                                double totalDays = (item.EndDate - item.StartDate).GetValueOrDefault().TotalDays;
                                double pctDays = totalDays > 0 ? daysPassed / totalDays : 0;
                                string pctDaysComplete = pctDays <= 1 ? String.Format("{0:P0}", pctDays) : "100%";

                                // ./ Date Methods

                                // Ticket Status
                                double ticketTotalCt = Convert.ToDouble(item.Tickets.Count);
                                int ticketResolvedCt = item.Tickets.Count(t => t.TicketStatus.Name.Equals("Resolved"));
                                int ticketAssignedCt = item.Tickets.Count(t => t.DeveloperUserId != null);
                                double pctResolved = ticketTotalCt > 0 ? ticketResolvedCt / ticketTotalCt : 0;

                                string pctTicketsComplete = String.Format("{0:P0}", pctResolved);

                                // ./ Ticket Status


                                // Percent Complete Color
                                string pctColor = "success";
                                var daysUntilDueDate = (item.EndDate - DateTime.Now).GetValueOrDefault().TotalDays;

                                if(daysUntilDueDate < 14)
                                {
                                    if (pctResolved < .5)
                                    {
                                        pctColor = "danger";
                                    }
                                    else if (pctResolved < .8)
                                    {
                                        pctColor = "warning";
                                    }
                                    else if (pctResolved < 1)
                                    {
                                        pctColor = "success";
                                    }
                                }

                                // ./ Percent Complete Color


                                <tr>
                                    <td>

                                        <div>

                                            <a class="text-primary font-weight-bold"
                                               asp-action="Details"
                                               asp-route-id="@item.Id">
                                                @item.Name
                                            </a>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-8 col-xl-9 mt-2">
                                                <span class="badge badge-@priorityColor">Priority: @item.ProjectPriority.Name</span>
                                                <span class="badge bg-@pmColor">PM: @pm</span>
                                            </div>
                                            
                                            <div class="col mt-2">
                                            
                                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                                {
                                                    <a class="btn-xs btn-primary mr-1 text-nowrap"
                                                       asp-action="Edit"
                                                       asp-route-id="@item.Id">
                                                        <i class="fas fa-pencil-alt"></i> Edit
                                                    </a>

                                                }

                                                @if (User.IsInRole("Admin"))
                                                {

                                                    <a class="btn-xs btn-danger text-nowrap"
                                                       asp-action="Delete"
                                                       asp-route-id="@item.Id">
                                                        <i class="fas fa-times"></i> Delete
                                                    </a>
                                                }
                                            </div>
                                        </div>


                                    </td>
                                    
                                    <td>
                                        <span>@item.EndDate?.ToString("dd MMM yy")</span>
                                        <div>
                                            @if (daysUntilDueDate > 0)
                                            {
                                                <small>Days Left: @Convert.ToInt32(daysUntilDueDate)</small>
                                            }
                                            else if (daysUntilDueDate < 0)
                                            {
                                                <span class="badge bg-danger">OVERDUE</span>
                                            }
                                        </div>
                                    </td>

                                    <td class="pt-3">
                                        <div class="progress bg-gray-light border border-@pctColor mb-1">
                                            <div class="progress-bar bg-@pctColor border border-@pctColor" style="width: @pctTicketsComplete">@pctTicketsComplete</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <small>
                                                    Ticket Total:
                                                    <span>@ticketTotalCt</span>
                                                </small>
                                            </div>
                                            
                                            <div class="col">
                                                <small>
                                                    Assigned:
                                                    <span>@ticketAssignedCt</span>
                                                </small>
                                            </div>
                                        </div>

                                    </td>

                                    
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dtAllProjects').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

    </script>

}