@model MVC_BugTracker.Models.Project
@using MVC_BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject IBTProjectService _projectService
@inject IBTRolesService _roleService
@inject UserManager<BTUser> _userManager

@{
    ViewData["Title"] = "Project Details";

    BTUser projectManager = await _projectService.GetProjectManagerAsync(Model.Id);

    // Is the current user the PM?
    string userId = _userManager.GetUserId(User);

    bool isPM = projectManager.Id == userId;

}

<h1>@Model.Name</h1>

<!-- Top Menu -->
<div>
    <a class="btn-sm btn-secondary mr-1"
       asp-action="AllProjects">
        <i class="fas fa-undo-alt"></i> Back to All Projects List
    </a>

    @if (User.IsInRole("Admin") || isPM)
    {
        <a class="btn-sm btn-primary mr-1" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fas fa-pencil-alt"></i> Edit
        </a>

    }

    @if (User.IsInRole("Admin"))
    {

        <a class="btn-sm btn-danger mr-1" asp-action="Delete" asp-route-id="@Model.Id">
            <i class="fas fa-times"></i> Delete
        </a>
    }

</div>

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />

<!-- ./ End Top Menu -->

<div>

    <hr />

    <!-- Top Section -->
    <dl class="row">

        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Priority
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectPriority.Name)
        </dd>
        <dt class="col-sm-2">
            Start/End Date
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("dd MMM yyyy") - @Model.EndDate.GetValueOrDefault().ToString("dd MMM yyyy")
        </dd>

        <dt class="col-sm-2">
            Project Manager
        </dt>
        <dd class="col-sm-10">
            @{
                var pm = "Add a Project Manager";

                if (projectManager.FirstName != null)
                {
                    pm = projectManager?.FullName;
                }

            }


            @pm


            @if (User.IsInRole("Admin"))
            {
                <div>
                    <a class="btn-sm btn-primary"
                       asp-action="AssignPM"
                       asp-route-id="@Model.Id">
                        <i class="fas fa-user-plus"></i> Add Project Manager
                    </a>
                </div>
            }

        </dd>

    </dl>

    <div class="container-fluid">
        <div class="row">

            <!-- Tickets -->
            <div class="col-12 col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="fas fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Tickets</span>
                        <span class="info-box-number">@Model.Tickets.Count</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <!-- Add Tickets -->
                <div class="mb-2">
                    <a class="btn-sm btn-primary"
                       asp-action="Create"
                       asp-controller="Tickets"
                       asp-route-projId="@Model.Id">
                        <i class="fas fa-plus"></i> Create Ticket
                    </a>
                </div>

                <!-- Ticket Card  collapsed-card -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Tickets</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- TICKETS -->

                        <ul class="nav flex-column">

                            @if (Model.Tickets.Count == 0)
                            {
                                <li>Add Tickets</li>
                            }

                            @foreach (Ticket ticket in Model.Tickets)
                            {
                                var developer = "Unassigned";
                                var devColor = "danger";

                                if (@ticket.DeveloperUser?.FullName != null)
                                {
                                    developer = @ticket.DeveloperUser?.FullName;
                                    devColor = "light";
                                }

                                var statusColor = "light";

                                if(ticket.TicketStatus.Name == "Unassigned")
                                {
                                    statusColor = "danger";
                                } else if (ticket.TicketStatus.Name == "Resolved")
                                {
                                    statusColor = "success";
                                }



                                    <li class="nav-item pb-1 mb-1">

                                        @* Apply restrictions as needed - Admin and PM of this project only *@

                                        @if (User.IsInRole("Admin") || isPM)
                                        {
                                            <a class="badge badge-primary mr-2"
                                               asp-action="Edit"
                                               asp-controller="Tickets"
                                               asp-route-id="@ticket.Id">Edit</a>
                                        }

                                        <a asp-action="TicketDetails"
                                           asp-controller="Tickets"
                                           asp-route-id="@ticket.Id">
                                            @ticket.Title
                                        </a>

                                        <span class="badge bg-@statusColor ml-2"> @ticket.TicketStatus.Name</span>


                                        <span class="float-right badge bg-@devColor">@developer</span>
                            

                                    </li>
                            }
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>

            <!-- Members -->
            <div class="col">
                <div class="info-box">
                    <span class="info-box-icon bg-warning"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Members</span>
                        <span class="info-box-number">@Model.Members.Count</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <!-- Add Members -->
                @if (User.IsInRole("Admin") || isPM)
                {
                    <div class="mb-2">
                        <a class="btn-sm btn-primary"
                           asp-action="AssignUsers"
                           asp-route-id="@Model.Id"><i class="fas fa-user-plus"></i> Add Team Members</a>
                    </div>
                }
                else
                {
                    <div class="mb-2">Speak with your Admin or Assigned PM to add team members</div>
                }

                <!-- Team Members collapsed-card -->
                <div class="card card-primary ">
                    <div class="card-header">
                        <h3 class="card-title">Members</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- MEMBERS -->

                        <ul class="nav flex-column">

                            @if (Model.Members.Count == 0)
                            {
                                <li>Add Team Members</li>
                            }

                            @foreach (BTUser member in Model.Members)
                            {
                                var userRole = (await _roleService.ListUserRolesAsync(member)).FirstOrDefault();
                                var color = "primary";

                                if (userRole == "ProjectManager")
                                {
                                    color = "success";
                                }

                                <li class="nav-item mb-2">
                                    <span>@member.FullName</span>
                                    <span class="float-right badge bg-@color">@userRole</span>
                                </li>
                            }
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
    </div>

</div>


@* DELETE LATER *@

@*<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>*@

@*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Archived)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Archived)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ArchivedDate)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ArchivedDate)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ImageFileName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ImageFileName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ImageFileData)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ImageFileData)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ImageContentType)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ImageContentType)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Company)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Company.Id)
    </dd>*@
