@model MVC_BugTracker.Models.Project

@{
    ViewData["Title"] = "Project Details";
}

<h1>Project Details - @Model.Name</h1>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AssignUsers" asp-route-id="@Model.Id">Assign Users</a> |
    <a asp-action="Create" asp-controller="Tickets" asp-route-projId="@Model.Id">Create Ticket</a> |
    <a asp-action="AllProjects">Back to List</a>
</div>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Priority
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectPriority.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Archived)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Archived)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ArchivedDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ArchivedDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageFileName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageFileName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageFileData)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageFileData)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageContentType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageContentType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Company)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Company.Id)
            </dd>*@


    </dl>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Members</span>
                        <span class="info-box-number">@Model.Members.Count</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->

                <div class="card card-primary collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Members</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- MEMBERS -->

                        <ul>
                            @foreach (BTUser member in Model.Members)
                            {
                                <li>@member.FullName</li>
                            }
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="fas fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Tickets</span>
                        <span class="info-box-number">@Model.Tickets.Count</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->

                <div class="card card-primary collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Tickets</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- TICKETS -->

                        <ul>
                            @foreach (Ticket ticket in Model.Tickets)
                            {
                                <li><a asp-action="TicketDetails" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a></li>
                            }
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>

</div>

